<div class="container-fluid" id="wrapper">

  <h3>Resend Confirmation Instructions</h3>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {method: :post}) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :email %><br/>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>

    <div class="actions">
      <%= f.submit "Resend confirmation instructions", class: 'btn btn-primary' %>
    </div>
  <% end %>

  <div class="bottom-links">
    <%= render "devise/shared/links" %>
  </div>

</div>