<div class="container-fluid" id="wrapper">

  <h3>Invite User</h3>

  <%= form_for [@community, Member.new], url: community_invite_path(@community) do |f| %>

    <div class="form-group row">
      <%= f.label :email, class: 'col-md-1 col-form-label' %><br/>
      <%#= f.text_field :email, required: true %>
      <div class="col-md-3">
        <%= f.email_field :email,
                          autofocus: true,
                          class: 'form-control',
                          required: 'email' %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :role, class: 'col-md-1 col-form-label' %><br/>
      <div class="col-md-3">
        <%= f.select :role, options_for_select(['member', 'admin']),
                     class: 'col-md-3',
                     required: true %>
      </div>
    </div>

    <%= f.submit "Invite", class: "btn btn-primary" %>

    <div class="bottom-links">
      <%= link_to('Back to Community Members', community_users_path) %>
    </div>

<% end %>

</div>


