<%= form_with(model: community, local: true) do |form| %>

  <% if community.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(community.errors.count, "error") %> prohibited this community from being saved:</h4>

      <ul>
        <% community.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :name, "Community name", class: 'col-md-2 col-form-label' %>
    <div class="col-md-4">
      <%= form.text_field :name, id: :community_name %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :description, class: 'col-md-2 col-form-label' %>
    <div class="col-md-4">
      <%= form.text_area :description, class: 'form-control', id: :community_description, rows: '3' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :promo, class: 'col-md-2 col-form-label' %>
    <div class="col-md-4">
      <%= form.text_field :promo, id: :community_promo %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-2">
      <div class="form-check">
        <%= form.check_box :private, class: 'form-check-input', id: :community_private %>
        <%= form.label :private, class: 'form-check-label' %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Update", class: "btn btn-primary" %>
  </div>

<% end %>
