<%= form_with(model: member, local: true) do |form| %>

  <% if member.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h4>

      <ul>
        <% member.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :display_name %>
    <%= form.text_field :display_name, id: :member_display_name %>
  </div>

  <%= form.hidden_field :community_id, value: params["member"]["community_id"] %>
  <%= form.hidden_field :user_id, value: params["member"]["user_id"] %>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
